body {
  overflow-x: hidden;
}

.transparent {
  opacity: 0.8;
}

.main-banner {
  width: 100%;
  height: 700px;
  margin-top: -80px;

  background-image: url(../images/banner-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.red-triangle {
  opacity: 0.5;
  position: relative;
  bottom: 60px;

  max-width: 0;
  height: 0;
  border-bottom: 60px solid indianred;
  border-left: 100vw solid transparent;
}

.demo {
  width: 100%;
  height: 1000px;
  background-color: lightgray;
}

.bg-green {
  background-color:  rgb(162, 202, 41);
}

.green {
  color: rgb(162, 202, 41);
}

.bg-red {
  background-color: rgb(254, 99, 79);
}

.red {
  color: rgb(254, 99, 79);
}

.footer {
  background-color: black  rgb(13, 17, 26);
}
